<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%if page.use_site_title %}
  {%assign title=site.title%}
  {%else%}
  {%assign title=page.title | default: site.title%}
  {%endif%}
  <title>{{title}}</title>
  {%if site.github.build_revision %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
  {%else%}
  <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | prepend: site.baseurl }}{{ "now" | date: "%s" }}">
  {%endif%}
</head>

<body>
  {{ content }}
</body>

</html>